<div class="container">

    <h1>{{title}}</h1>
    
    <div class="input-group">
      <input type="text" placeholder="Enter List Name" name="list" [(ngModel)]="listName"> &nbsp;&nbsp;
      <button class="btn btn-primary" type="button" (click)="addList()">ADD LIST</button>
    </div> <br>
    <tr >
        <th class="list" *ngFor="let item of jiraBoard">{{item.header}} <span style="color: red;" (click)="removeList(item.id)">ⓧ</span>
          <div class="cards" *ngFor="let card of item.cards">{{card.header}} <br> {{card.description}} <br> {{card.time | date:"mediumTime"}} 
            <span style="color: red;" (click)="removeCard(card.id, card.parentId)">ⓧ</span>
          
          </div>
          <br><br><br>
          <div style="color: green;" (click)="addCard(item.id)"><h2>⨁</h2></div>
          
        </th>
      
    </tr>
    </div>